body {
    background-color: #1a1a2e;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.login-container {
    width: 600px;
    background-color: #2e2e4e;
    padding: 30px;
    border-radius: 15px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    font-size: 16px;
}

p {
    font-size: 18px;
    margin-top: 8px;
    line-height: 1.5;
    min-height: 20px;
}

label {
    font-weight: bold;
}

#submit {
    display: block;      
    margin: 20px auto;   
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: #18337a;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

#submit:hover {
    background-color: #376ad7;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px #18337a;
}

