*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin: 15px;
}
.cards{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}
img{
    width: 100%;
}
.btn{
    padding: 10px;
    width: 100%;
    background-color: rgb(103, 245, 245);
    color: black;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
    color: rgb(103, 245, 245);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 24, 221);
    padding: 20px;
    color: white;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.category{
    padding: 10px;
    border-radius: 10px;
    background-color: burlywood;
    border: none;
}
.category:hover{
    cursor: pointer;
    background-color: black;
    color: burlywood;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}